AzureDataFactoryRepository/pipeline/CollectExternalFiles.json
{
	"name": "CollectExternalFiles",
	"properties": {
		"activities": [
			{
				"name": "Read ApiKey from AKV",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "https://engineering-keyv.vault.azure.net/secrets/PolygonApiKey/3f85924200f948da813db0a3e777f31d?api-version=7.0",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Lookup Ticker",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": "nasdaq100_tickers",
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_get_nasdaq_100_tickers",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Lookup Dates",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": "ticker_details_dates",
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_get_ticker_details_dates",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Read ApiKey from AKV",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Lookup Ticker",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Lookup Dates",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Ticker').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": true
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "CopyTickersDetail",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"PolygonApiKey": {
										"value": "@activity('Read ApiKey from AKV').output.value",
										"type": "Expression"
									},
									"TickerSymbol": {
										"value": "@item().ticker",
										"type": "Expression"
									},
									"DetailsDates": {
										"value": "@activity('Lookup Dates').output.value",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-04-01T15:49:47Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}