AzureDataFactoryRepository/pipeline/CopyRemainingTickersSymbol.json
{
	"name": "CopyRemainingTickersSymbol",
	"properties": {
		"activities": [
			{
				"name": "Get Tickers List",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_all_tickers_symbols",
						"type": "DatasetReference",
						"parameters": {
							"FileNumber": {
								"value": "@pipeline().parameters.InputFileNumber",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "If tickers left",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Tickers List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get Tickers List').output.firstRow.count, 1000)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Exit from loop",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "pipelineReturnValue",
								"value": [
									{
										"key": "FileNumber",
										"value": {
											"type": "Expression",
											"content": "@pipeline().parameters.InputFileNumber"
										}
									},
									{
										"key": "SymbolLeft",
										"value": {
											"type": "Boolean",
											"content": false
										}
									}
								],
								"setSystemVariable": true
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy tickers symbol data",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Update file number",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET"
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "MergeFiles"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_get_remaining_symbols",
									"type": "DatasetReference",
									"parameters": {
										"PolygonApiKey": {
											"value": "@pipeline().parameters.PolygonApiKey",
											"type": "Expression"
										},
										"Cursor": {
											"value": "@split(activity('Get Tickers List').output.firstRow.next_url,'?')[1]",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_all_tickers_symbols",
									"type": "DatasetReference",
									"parameters": {
										"FileNumber": {
											"value": "@variables('OutputFileNumber')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Update file number",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "OutputFileNumber",
								"value": {
									"value": "@string(add(pipeline().parameters.InputFileNumber,1))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Update output variables",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Copy tickers symbol data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "pipelineReturnValue",
								"value": [
									{
										"key": "FileNumber",
										"value": {
											"type": "Expression",
											"content": "@variables('OutputFileNumber')"
										}
									},
									{
										"key": "SymbolLeft",
										"value": {
											"type": "Boolean",
											"content": true
										}
									}
								],
								"setSystemVariable": true
							}
						}
					]
				}
			}
		],
		"parameters": {
			"InputFileNumber": {
				"type": "int"
			},
			"PolygonApiKey": {
				"type": "string"
			}
		},
		"variables": {
			"OutputFileNumber": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-03-24T11:23:42Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}